.slider{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10.3rem;
}

.container{
    width: 77.375rem;
    margin: 0 auto;
    display: flex;

}

.page1{
    width: 55%;
    /*background-color: red;*/
    content: " ";
    padding: 35px 0 0 45px;
    box-shadow: -5px 5px 10px -5px rgba(0.5,1,2,0.2);
    padding-bottom: 60px;
    position: relative;
    transition: 0.2s linear transform;
}

.page2{
    width: 45%;
    /*background-color: deeppink;*/
    content: " ";
    box-shadow: 5px 5px 10px -5px rgba(0.5,1,2,0.2);
    background-image: url("images/samoseli_resize.jpg");
    background-position: center;
    position: relative;
    transition: 0.2s linear transform;
}

.page2:hover{
    transform: scale(1.03);
}

.page1:hover{
    transform: scale(1.03);
}

.btn{
    max-width: 7rem;
    text-align: center;
    padding: 5px 0px;
    background-color: #FFAA00;
    border: 1px solid #FFAA00;
    border-radius: 50px;
    font-size: 0.8rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: 0.2s linear transform;
}

.btn:hover{
    transform: scale(1.03);
}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.fa.fa-star{
    font-size: 17px;
    padding-top: 3px;
    padding-right: 8px;
    color: #FFAA00;
    transition: 0.2s linear font-size;
    position: absolute;
}

.fa-star:hover{
    font-size: 20px
}

.subtext{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-left: 25px;
}

.subtext.second{
    padding-left: 55px;
}

.subtext2{
    position:relative;
}

.fa-heart{
    font-size: 14.5px;
    padding-left: 30px;
    padding-top: 3px;
    color: #FF0077;
    transition: 0.2s linear font-size;
    position: absolute;
}

.fa-heart:hover{
    font-size: 17.5px
}

.sub_description{
    padding-right: 90px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'LitNusx', sans-serif;
}

.more{
    display: flex;
    align-items: center;
    max-width: 150px;
}
.more:hover .triangle{
    transform: translateX(10px) rotate(135deg);
}

.readmore{
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

.triangle{
    width: 7px;
    height: 7px;
    content: "";
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(135deg);
    transition: 0.2s linear transform;
}

.next{
    width: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 14px 42px;
    background-color: #F3F3F3;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.next.second{
    background-color: #FF0077;
    color: white;
    left: 0;
}